@model dotnet_project_ecommerce.Models.Customer

@{
    ViewData["Title"] = "CustomerDetails";
    Layout = "~/Views/Shared/_Dashboard.cshtml"; // Ensure the correct layout is set
}

<h1>Customer Details</h1>

<div class="">
    <h4>Customer</h4>
    <hr />
    <div class="fw-bold">
        Customer Image
    </div>

        <div>  
            <img src="~/Uploads/Customer_images/@Model.customer_image" asp-append-version="true" width="250" height="250" />
        </div>

        <div class="fw-bold">
            Customer Name
            <div class=" fw-normal" > @Html.DisplayFor(model => model.customer_name) </div>
        </div>

    <div class="fw-bold">
        Phone Number :
        <div class=" fw-normal"> @Html.DisplayFor(model => model.customer_phone) </div>
    </div>
    <div class="fw-bold">
        Customer Email
        <div class=" fw-normal"> @Html.DisplayFor(model => model.customer_email) </div>
    </div>

    <div class="fw-bold">
        Customer Password
        <div class=" fw-normal"> @Html.DisplayFor(model => model.customer_password) </div>
    </div>

    <div class="fw-bold">
        Customer Gender
        <div class=" fw-normal"> @Html.DisplayFor(model => model.customer_gender) </div>
    </div>
    <div class="fw-bold">
        Customer Country :
        <div class=" fw-normal"> @Html.DisplayFor(model => model.customer_country) </div>
    </div>
    <div class="fw-bold col-sm-2 ">
        Customer City :
        <div class=" fw-normal col-sm-10 "> @Html.DisplayFor(model => model.customer_city) </div>
    </div>
    <div class="fw-bold">
        Customer Address :
        <div class=" fw-normal"> @Html.DisplayFor(model => model.customer_address) </div>
    </div>



    


    </div>


<div>
    <a asp-action="UpdateCustomerDetail" asp-route-id="@Model?.customer_id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
