@model List<Customer>

<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase" style="letter-spacing:4px">All Customers</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped text-center mt-2">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Address</th>
                        <th> Options </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model)
                    {
                        <tr>
                            <td>@customer.customer_name</td>
                            <td>@customer.customer_phone</td>
                            <td>@customer.customer_email</td>
                            <td>@customer.customer_country</td>
                            <td>@customer.customer_city</td>
                            <td>@customer.customer_address</td>
                            <td>
                                <a href="@Url.Action("CustomerDetails","Admin",new{id=customer.customer_id})" class="btn btn-primary"> Details </a>
                                <a href="@Url.Action("UpdateCustomerDetail","Admin",new{id=customer.customer_id})" class="btn btn-warning">Update </a>
                                <a href="@Url.Action("DeletePermission","Admin",new{id=customer.customer_id})" class="btn btn-danger">Delete </a>



                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
